* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/*##########  NAV MENU ##############*/
#nav-menu {
   position: absolute;
    width: 100%;
}


.navbar-collapse {
    justify-content: space-between;
}

.navbar {
    padding: 1rem;
}

.nav-link {
    color: #fff !important;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link:hover {
    color: rgba(255,255,255,.75) !important;
}

.logo h3 {
    color: #fff;
    font-size: 1.375rem;
}
    
.btn {
    color: #ffffff;
    background: #052749;
    font-size: .6875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.2rem 2.7rem;
    border: 0.1rem solid transparent;
    letter-spacing: .5px;
    border-radius: 75px;
}

.btn:hover {
    background: #253443 !important;
    color: #000;
}
/*########## /NAV MENU ##############*/
/*########## HERO ##############*/
#hero {
    background: url('https://cdn.hipwallpaper.com/i/82/62/DtvbBk.jpg') no-repeat center / cover;
    padding: 180px 0px;
}

.text_hero {
    text-align: center;
    color: #fff;
}
.title_hero {
    font-style: 35px;
    font-weight: 700;
    text-transform: capitalize;
}
/*########## /HERO ##############*/
/*################## PROCESS #############################*/
#process {
    padding: 7.5rem 0;
}

.text_process {
    text-align: center;
    margin-bottom: 80px;
}
.title_process {
    font-style: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.subtitle_process_1 {
    color: #6c755d;
    padding: 0 300px 0;
    margin-bottom: 100px;
}

.grid_description {
    margin: 0;
    color: #6c755d;
}

.box_process {
    text-align: center;
}

.box_process img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

.grid_title {
    font-style: 1.375rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.grid_description {
    font-style: 15px;
    color: #6c755d;
}
/*################## /PROCESS #############################*/
/*#################################### TEXT #################################*/

#text {
    background: rgba(0, 0, 0, .92);
    padding: 7.5rem 0;
}

.text-box h1 {
    margin-bottom: 80px;
    font-size: 2.125rem;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
}

.text-box p {
    font-size: 1.0625rem;
    font-weight: 300;
    color: #a9a9a9;
}

/*#################################### TEXT #################################*/



/*#################################### PROJECT #################################*/

#project {
    margin-top: -60px;
}

.project-box img {
    border-radius: 10px;
}

.project-content {
    text-align: center;
    padding: 40px 20px;
}

.project-content h4 {
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.35;
    color: #212529;
}

.project-content p {
    margin-top: 20px;
    color: #6c757d;
}

.product-img img {
    border-radius: 10px;
}

.product-content {
    margin: 70px 0 0px -120px;
    padding: 70px 30px;
    background: #F4F7FC;
    border: 15px solid #fff;
    box-shadow: 0 7px 22px rgb(0 0 0 / 8%);
}

.product-content h4 {
    color: #21c87a;
    font-size: 1.125rem;   
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
}

.product-content h2 {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}

.product-content p {
    margin-top: 25px;
    color: #6c757d;
}

/*#################################### PROJECT #################################*/
/*#################################### TESTIMONIAL #################################*/

#testimonial {
    background: #EEEEEE;
    padding: 7.5rem 0;
}

.testimonial-box h1 {
    font-size: 2.125rem;
    line-height: 40px;
    margin-bottom: .5rem;
    color: #212529;
    font-weight: 700;
}

.testimonial-box p {
    margin-bottom: 0;
    color: #6c757d;
}

.test-inner {
    position: relative;
    padding: 30px;
    background: #fff;
    border-top-right-radius: 35px;
    margin-bottom: 25px;
    transition: all .7s ease;
}

.test-inner:hover {
    transform: scale(1.1);
    box-shadow: 0 7px 22px rgb(0 0 0 / 8%);
}

.test-inner p {
    color: #6c757d;
    margin: 0;
}

.test-inner i {
    font-size: 60px;
    opacity: .09;
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: #6c757d;
}

.author {
    margin-bottom: 15px;
}

.author img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px dotted #ddd;
    padding: 5px;
}

.author-info {
    margin-left: 20px;
    margin-top: 20px;
}

.author-info h4 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}

.author-info h6 {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}


/*#################################### TESTIMONIAL #################################*/



/*#################################### NEWS #################################*/

#news {
    padding: 7.5rem 0;
}

.news-img img {
    border-radius: 5px;
    box-shadow: 0 7px 12px rgb(0 0 0 / 8%);
}

.news-content {
    padding-top: 25px;
}

.news-content h6 {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}

.news-content a h3 {
    transition: all .3s ease 0s;
    margin: 15px 0px;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: #212529;
}

.news-content:hover h3 {
    color: #21c87a;
}

.news-content p {
    margin: 20px 0px;
    color: #6c757d;
}

.read-more {
    color: #21c87a;
    font-size: 15px;
}

/*#################################### NEWS #################################*/
/*#################################### FOOTER #################################*/

footer {
    padding: 80px;
    background: url(../images/f83470d4-ce50-498e-a931-c64b6fea0959.jpg) no-repeat center / cover;
    position: relative;
    z-index: 999;
}

footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .93;
    z-index: -1;
}

.ml-auto {
    margin-left: auto;
}

.footer-logo {
    font-size: 30px;
    color: #FFFFFF;
}

.footer-widget p {
    color: #888;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
    font-size: 14px;
}

.footer-widget h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.375rem;
}

.footer-widget ul {
    padding: 0;
}

.footer-widget ul li a {
    display: block;
    color: #888;
    line-height: 38px;
    font-size: 14px;
    text-transform: Capitalize;
}

.footer-widget li a i {
    width: 25px;
}

.company p {
    color: #888;
    font-size: 16px;
    position: relative;
    float: right;
}

.company p span {
    color: #21c87a;
}

/*#################################### FOOTER #################################*/